.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.coming-soon {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}
