.btn-loading {
    display: flex;
    justify-content: center;
    position: relative;

    .show-loading {
        position: absolute;
        align-items: center;

        .spinner-border {
            margin: 0;
        }
    }

    .hide-label {
        visibility: hidden;
    }
}
